@model FlowpointSupportTicket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<a asp-controller="Tickets" asp-action="Index" asp-route-vendorid="@ViewBag.VendorId">Back</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VTicketMessage" class="control-label"></label>
                <input asp-for="VTicketMessage" class="form-control" />
                <span asp-validation-for="VTicketMessage" class="text-danger"></span>
            </div>
            <div>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="ICreatedBy" class="control-label"></label>
                @Html.DropDownList("ICreatedBy", new SelectList(Users.NameById, "Key", "Value"))
            </div>
            <div>
                <br/>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="IVendorId" value="@ViewBag.VendorId" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
