@{
    ViewData["Title"] = "Flowpoint Support";
}

<div class="text-center">
    <h1 class="display-4">Companies</h1>

    <a href="/Companies">Companies</a>
    <a href="/Companies/2/Vendors">Vendors</a>
</div>
